@import "./variables.css";
@import "@fontsource/bebas-neue";
@import "@fontsource/merriweather";

html,
body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--primaryFontFamilies);
	font-size: 1.1em;
	line-height: 2em;
	padding: 0;
	margin: 0;
}

@media print {
	html,
	body {
		background-color: var(--foreground);
		color: var(--background);
	}
}

* + * {
	box-sizing: border-box;
}

a {
	color: var(--attention);
}

img {
	max-width: 80%;
	margin: initial auto;
}

pre {
	max-width: 100vw;
}

code {
	background: rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	padding: 0 0.5em;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--attentionFontStack);
	line-height: 2em;
	margin: 0;
}

@media (max-width: 768px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.4em;
	}
}

::selection {
	background: var(--attention);
}

#content {
	max-width: 68rem;
}

#content a {
	text-decoration: underline;
}

blockquote {
	border: 1px solid rgba(150, 150, 150, 0.2);
	padding: 1em;
	margin: 0;
	border-radius: 8px;
}

blockquote:before {
	content: open-quote;
	color: #aaa;
}

blockquote:after {
	content: close-quote;
	color: #aaa;
}

